<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Bluepath.Services.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="Bluepath.Services.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Bluepath.Services/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>-->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IExecutor" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:64935/BluepathExecutorService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IExecutor"
          contract="IExecutor" name="BasicHttpBinding_IExecutor" />
    </client>
  </system.serviceModel>
</configuration>
