<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bluepath.MapReduce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bluepath.MapReduce.Properties.Settings>
            <setting name="MapOutputFileName" serializeAs="String">
                <value>{0}_MAP_NO_{1}_{2}</value>
            </setting>
            <setting name="ReduceOutputFileName" serializeAs="String">
                <value>{0}_REDUCE_NO_{1}_{2}</value>
            </setting>
        </Bluepath.MapReduce.Properties.Settings>
    </applicationSettings>
</configuration>